.products{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  margin: 20px;
  padding: 0;
}

.products__single{
  height: 150px;
  background-color: rgb(240, 240, 240);
  border-radius: 10px;
  text-align: center;
  padding: 20px;
  pointer: cursor;
}

.products__single>img{
  width: 100%;
  height: 95%;
  object-fit: cover;
  margin-bottom: 1%;
  background-color: rgb(240, 200, 200);
}

.pagination{
  display: flex;
  justify-content: center;
  margin: 20px;
}

.pagination>span{
  padding: 10px;
  margin: 0 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}

.pagination>span.active{
  background-color: #007bff;
  color: white;
}